{% extends 'base.html.twig' %}

{% block title %}Activation complete{% endblock %}

{% block body %}
    <h1 class="h3">Congratulations</h1>
    <p>Now your account is activated.</p>
    <p>You can <a href="{{ path('login') }}" target="_blank">login</a> here.</p>
{% endblock %}
