.ajax-search-collection {
  position: relative;

  .search-container {
    height: 50px;
    position: relative;

    .search-input {
      margin-bottom: 15px;
    }
  }

  .collection-container {
    display: none;
  }

  .search-results {
    display: none;
    position: absolute;
    border: 1px solid #00afff;
    top: 34px;
    width: 100%;
    border-radius: 5px;
    z-index: 1000;
    background-color: #ffffff;

    &.active {
      display: block;
    }

    .autocomplete-item {
      width: 100%;
      color: #919191;
      padding: 5px;
      cursor: pointer;
    }
  }

  .selected-list {
    margin-top: 30px;

    .selected-item {
      font-size: 18px;
      padding: 10px;
      position: relative;
      margin-right: 10px;

      :last-child {
        margin-right: 0;
      }

      .remove-item {
        content: "x";
        font-size: 11px;
        color: black;
        display: block;
        position: absolute;
        top: 2px;
        right: 2px;
        width: 10px;
        height: 10px;
        cursor: pointer;
      }
    }
  }
}