<html>
<head>
    <title>Registration complete</title>
</head>
<body>
    <h1>Congratulation, registration complete.</h1>
    <p>User with name {{ name }} was created.</p>
    <p>
        For activating account please click to this
        <a href="{{ url('activate-account', {'token': activateToken}) }}" target="_blank">link</a>
        <br />
        Or copy and paste: {{ url('activate-account', {'token': activateToken}) }}
    </p>
</body>
</html>